<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>327775764664-n9faega4pj87gt6ovr4qvhq8uusrkumh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.327775764664-n9faega4pj87gt6ovr4qvhq8uusrkumh</string>
	<key>API_KEY</key>
	<string>AIzaSyCooTlr8MPr8ssgBct0YRuyW_v2ogVSEKE</string>
	<key>GCM_SENDER_ID</key>
	<string>327775764664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-c91c8</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-c91c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327775764664:ios:dbea90814185020459344d</string>
</dict>
</plist>